<p id="notice"><%= notice %></p>

<h1>Postapis</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postapis.each do |postapi| %>
      <tr>
        <td><%= postapi.name %></td>
        <td><%= postapi.message %></td>
        <td><%= link_to 'Show', postapi %></td>
        <td><%= link_to 'Edit', edit_postapi_path(postapi) %></td>
        <td><%= link_to 'Destroy', postapi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Postapi', new_postapi_path %>
